<div class="container-fluid login-page">
    <h1> Welcome to Ryde </h1>
    <br><br>
    <%= link_to "<button class='btn btn-lg'>LOG IN</button>".html_safe, new_session_path %>
    <br><br>
    <%= link_to "<button class='btn btn-lg'>RYDER SIGN-UP</button>".html_safe, new_user_path %>
    <br><br>
    <%= link_to "<button class='btn btn-lg'>PILOT SIGN-UP</button>".html_safe, new_user_path(pilot:true) %>
</div>

