<div>
<%= form_for @ryde do |f| %>
    <h3> Where would you like to start? </h3>
    <%= f.collection_select(:starting_location, Destination.all, :name, :name, {prompt: "Select a launch site"}, {include_blank: true, required: true}) %>
    <br><br>
    <h3> Where would you like to ryde? </h3>
    <%= f.collection_select(:ending_location, Destination.all, :name, :name, {prompt: "Select a destination"}, {include_blank: true, required: true}) %>
    <br><br>
    <%= f.submit 'Request Ryde' %>
<% end %>
</div>