<h1> Ryde Details </h1>
<%= User.find(@ryde.user_id).first_name %> <%= User.find(@ryde.user_id).last_name[0] %>.
<%= @ryde.starting_location %>
<br>
<%= @ryde.ending_location %> 
<br>
$14000000
<br> 
Accept &nbsp; &nbsp; Back